<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>JackFeng's Blog - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="assets/img/head.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Jack Feng</a></h1>
        <!-- <div class="social-links mt-3 text-center"> -->
        <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
        <!-- </div> -->
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>首页</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>关于</span></a></li>
          <li><a href="#skills" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>我的技能</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>我的成果</span></a>
          </li>
          <li><a href="https://github.com/JackFen" class="nav-link scrollto"><i class="bx bx-envelope"></i>
              <span>我的Github主页</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>How are you!</h1>
      <p>I'm <span class="typed" data-typed-items="a Coder,a Developer,an Undergraduate"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>关于</h2>
          <p>本人目前计算机科学与技术专业本科在读，主攻网站全栈开发，主要使用java，但也熟悉C语言，C++,python，HTML等语言。</p>
        </div>

        <div class="row">
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>个人简介</h3>
            <p class="fst-italic"></p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>专业:</strong> <span>计算机科学与技术</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>联系方式:</strong> <span>fengzhanweia@163.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>就读院校:</strong> <span>石家庄铁道大学</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>城市:</strong> <span>河北石家庄</span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>友链</h3>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Mr Duan:</strong> <a
                    href="https://duan-dky.me/">https://duan-dky.me</a></li>
              </ul>
            </div>
            <p></p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>我的技能</h2>
          <p></p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">java <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">C<i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">C++<i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">HTML <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">SQL <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">python <i class="val">60%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">C# <i class="val">55%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">javascript <i class="val">50%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->


    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>我的成果</h2>
          <p>该栏目记录了作者所参与的项目以及学习笔记</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">全部</li>
              <li data-filter=".filter-project">项目</li>
              <li data-filter=".filter-knowledge">笔记</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
          <div :class="'col-lg-4 col-md-6 portfolio-item filter-'+item.type" v-for="(item,index) in reverseList">
            <div class="portfolio-wrap border border-dark border-3 shadow-lg bg-body-secondary"
              style="border-radius: 15px;padding: 5px;">
              <div style="display: flex; justify-content: space-between;">
                <h3 style="color: #149ddd;">{{item.title}}</h3>
                <div v-if="!index"><span class="badge" style="background-color: #149ddd;">最新项目</span></div>
              </div>              
              <br>
              <p class="text-muted">{{item.info}}</p>
              <div class="text-secondary-emphasis">主要所用技术：<span style="color: #149ddd;">{{item.tech}}</span></div>
              <div class="portfolio-links">
                <a :href=item.link title="More Details" style="width: 100%;"><i class="bx bx-link"
                    style="width: auto;"></i></a>
              </div>
            </div>
          </div>



        </div>

      </div>
    </section><!-- End Portfolio Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; JackFeng's <strong><span>Blog</span></strong>
      </div>
      <div class="copyright" style="margin-top: 5px;">
        <a href="http://www.stdu.edu.cn/">想要了解我的学校吗?</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <!-- <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script> -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/typed.js/typed.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <!-- 生产环境版本，提高页面加载速度 -->
  <script src="assets/vendor/vue/vue.min.js"></script>
  <script>
    var app = new Vue({
      el: '#portfolio',
      computed: {
        //实现datalist逆序输出
        reverseList(){
          return this.datalist.reverse()
        }
      },
      data: {
        datalist: [
          {
            "title": "某某商城项目",
            "info": "这是我的第一个javaweb项目，采用javaee三层架构，是一个书城网站。",
            "tech": "java、html、js",
            "link": "https://github.com/JackFen/bookstore",
            "type": "project"
          },
          {
            "title": "数据结构",
            "info": "这个栏目存储了作者对于数据结构的一些基本算法的实现和作者学校对于数据结构的上机实验（所有实现都基于c语言，但使用的cpp中的引用）",
            "tech": "C、C++",
            "link": "https://github.com/JackFen/data_structure",
            "type": "knowledge"
          },
          {
            "title": "简易学生管理系统——python版",
            "info": "这个系统是作者在学完python之后，测试自己python学习成果的作品",
            "tech": "python",
            "link": "https://github.com/JackFen/StudentManagerSysterm-python",
            "type": "project"
          },
          {
            "title": "STD学生成绩管理系统",
            "info": "这个系统是作者学校的数据库实习作品，是一个基于javaee三层架构的B/S系统，其页面包含登录、注册和主页面。角色分为学生、教师和管理员 。学生可以查分、查看自己的所修学科和修改密码。教师可以进行赋分、查看自己所教学科和修改密码。管理员拥有最高权限，对一切都可以进行增删改查。",
            "tech": "java、html、js",
            "link": "https://github.com/JackFen/STDgrade_manager_system",
            "type": "project"
          },
          {
            "title": "背单词小程序",
            "info": "背单词 是一个基于javaSwing制作的C/S架构的桌面级软件，它可以自动保存使用者上次记忆单词的位置，并在下次启动时继续原来的进度，它还支持中\英文单词查询和生词本",
            "tech": "java",
            "link": "https://github.com/JackFen/ReciteWords",
            "type": "project"
          },
          {
            "title": "MySQL",
            "info": "这个栏目记录了作者的MySQL学习过程",
            "tech": "MySQL",
            "link": "https://github.com/JackFen/SQL",
            "type": "knowledge"
          },
          {
            "title": "Python基础",
            "info": "这个栏目记录了作者学习Python基础的过程",
            "tech": "Python",
            "link": "https://github.com/JackFen/Python_base",
            "type": "knowledge"
          },
          {
            "title": "Python爬虫",
            "info": "这个栏目记录了作者学习Python爬虫的过程",
            "tech": "Python",
            "link": "https://github.com/JackFen/Python_spider",
            "type": "knowlwdge"
          },
          {
            "title": "JavaWeb",
            "info": "这个栏目记录了作者学习JavaWeb的过程",
            "tech": "java",
            "link": "https://github.com/JackFen/bookstore",
            "type": "knowledge"
          },
          {
            "title": "C++实验",
            "info": "这个栏目记录了作者学校C++小学期实习的过程",
            "tech": "C++",
            "link": "https://github.com/JackFen/C_plus_plus_practice",
            "type": "knowledge"
          },
          {
            "title": "编译原理实验",
            "info": "这个栏目记录了作者完成学校编译原理实验的过程",
            "tech": "java",
            "link": "https://github.com/JackFen/homework-of-compilation-principle",
            "type": "knowledge"
          },
          {
            "title": "bootstrap学习",
            "info": "这个栏目记录了作者学习bootstrap的过程",
            "tech": "html、bootstrap",
            "link": "https://github.com/JackFen/bootstrap_study",
            "type": "knowledge"
          },
          {
            "title": "某某CRM系统",
            "info": "该项目采用springBoot+vue架构，其包含使用token进行登录验证功能、用户管理、角色管理、菜单管理、系统日志",
            "tech": "springBoot、vue、Mysql、jwt",
            "link": "https://github.com/JackFen/CRM_system",
            "type": "project"
          },
          {
            "title": "Vue学习",
            "info": "这个栏目记录了作者学习vue的过程",
            "tech": "html、vue、axios",
            "link": "https://github.com/JackFen/Vue_study",
            "type": "knowledge"
          },
          {
            "title": "电脑配件库存管理系统",
            "info": "该项目采用SSM+vue架构，为作者学校软件工程实验的作品，其拥有两种登录角色--仓库管理员和普通用户。其功能包含出入库管理、登录管理、仓库管理、订单管理等",
            "tech": "java、spring、springMVC、Mybatis、vue2，AWT",
            "link": "https://github.com/F-L-D/WareHouse-MS/tree/jackfen",
            "type": "project"
          },
          {
            "title": "模拟操作系统",
            "info": "该项目为作者学校的实训项目，作者通过C++实现了进程调度、设备管理、文件管理、存储管理的模拟",
            "tech": "C++、C、银行家算法、轮转调度算法、扫描算法、LRU算法等",
            "link": "https://github.com/JackFen/SystemOperationExperiment",
            "type": "knowledge"
          },
        ]
      }
    })
  </script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>
